# fly.toml app configuration file generated for cv-project-demo on 2025-02-18T21:06:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cv-project-demo'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  path = "/"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[env]
NUXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCRZB-0r7NIla2X8LWRAxzEQB6zRUKLgEs"
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN="cv-project-84361.firebaseapp.com"
NUXT_PUBLIC_FIREBASE_PROJECT_ID="cv-project-84361"
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET="cv-project-84361.firebasestorage.app"
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="6512836811"
NUXT_PUBLIC_FIREBASE_APP_ID="1:6512836811:web:ccf898ae7ac5737561db4e"
NUXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-JE0H5M19E0"
NUXT_PUBLIC_FIREBASE_DATABASE_URL="https://cv-project-84361-default-rtdb.firebaseio.com"