name: Deploy to Fly.io

"on":
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Fly CLI
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly
        run: flyctl deploy --remote-only --config frontend/fly.toml --app cv-project-demo

        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
